@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Russo+One&family=Rubik&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;   
}
body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    color: #fafafa;
    background-color: black;
}
h1 {
    font-family: Russo One, sans-serif;
}
h2 {
    text-transform: uppercase;
}
h1, h2 {
    letter-spacing: 3px;
    color: #9932cc;
}
#logo {
    float: left;
    font-size: 400%;
    margin-left: 2.5%;
}
/* navigation links */
#menu {
    font-size: 160%;
    letter-spacing: 1px;
    float: right;
    
}
#logo, #menu {
    line-height: 100px;
}
#menu li {
    list-style-type: none;
    float: left;
    right: 0;
    margin: 0 auto;
    padding: 0 20px;
}
#menu a {
    text-decoration: none;
    color: #9932cc;
}
#menu a:hover {
    color: #fafafa;
    border-bottom: 4px solid #fafafa;
}
.current {
    border-bottom: 4px solid #9932cc;
}
.current a:hover {
    border-bottom: 4px solid #fafafa;
}
footer a:hover {
    color: #fafafa;
}
#main-image {
    background: url("../images/heroimage2.webp") no-repeat center center;
    height: 300px;
    width: 100%;
    background-size: cover;
}
/*--Main Page Content--*/
/*---------------------*/
section{
    height: 368px;
    width: 100%;
    margin: auto;   
}
.text-box{
    height:140px;
    width: 400px;
    float: left;
    padding-top: 20px;
    padding-left: 45px;
    margin:0 0 0 1.5%;
    border-radius: 25px;
    border: 4px solid #9932cc;
    text-align: center;
    padding-right: 2.5%;
    padding-bottom: 20px;
} 
#games-text{
    float:right;
    margin:0 1.5% 0 0;
}
#multiplayer-text{
    float:right;
    margin:0 1.5% 0 0;
}
.medium-images{
    height:360px;
    width: 60%;
    float:left;
    margin:0 0 0 0;
    height:360px;
    width: 60%;
    border-radius: 25px;
}
#games-image{
    float: right;
}
#multiplayer-image{
    float: right;
}
/*----This is the Style for all text boxes--*/
/*------------------------------------------*/
#enter-image {
    background: url("../images/enterimage.jpg") no-repeat center center;
    background-size: cover;
    border: 4px solid #cc7c32;
}
#games-image {
    background: url("../images/gamesimage.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 25px;
    border: 4px solid #32cca5;
}
#family-image {
    background: url("../images/family.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 25px;
    border: 4px solid #cc3232;
}
/*----This is footer content---*/
/*-----------------------------*/
footer {
    float:left;
    height: 200px;
    width:100%;
    background-color: #cc7c32;
    bottom:auto;
    clear: both;
}
#links-box{
    height: 100px;
    width:80%;
    margin-left: 10%;
}
.social-media {
    height: 100px;
    width:100%;
    margin: 5% 0 0 0;
}
.social-media li {
    height: 60px;
    width:20%;
    margin: 0 0 0 3.8%;
    display: inline-block;  
    text-align: center;  
}
.social-media i {
    font-size: 40px;
    padding: 5px;
    margin: 5% 10%;
}
#foot-text {
    text-align: center;
    bottom: 0;
    font-family: Rubik, sans-serif;
    color: #9932cc;
    font-weight: 900;
}
/*-----Game Page Content------*/
/*---------------------------*/
#retro-games-image {
    background: url("../images/retro.jpeg") no-repeat center center;
    background-size: cover;
    border: 4px solid #cc7c32;   
}
#multiplayer-image {
    background: url("../images/multiplayer.jpg") no-repeat center center;
    background-size: cover;
    border: 4px solid #32cca5;
}
#mini-golf-image {
    background: url("../images/minigolf.jpeg") no-repeat center center;
    background-size: cover;
    border: 4px solid #cc3232;
}
/*-----Form content-----*/
/*----------------------*/
#sign-up {
    width: 100%;
    clear: both;
    text-align: center;
}
input[type=text]{
    padding: 8px 0;
    width: 30%;
    margin-bottom: 40px;

}
input[type=email]{
    padding: 8px 0;
    width: 30%;
    margin-bottom: 40px;
}
input[type=submit]{
    background-color: #9932cc;
    left: 20;
    padding: 5px 15px;
    font-family: Rubik, sans-serif;
    font-weight: 600;
    font-size: 100%;
    margin-top: 5px;
    margin-bottom: 40px;
}
#updates {
    margin: 0 0 0 80px;
    letter-spacing: 1px;
}
/*----Media Queries---*/
/*-------------------*/
@media screen and (max-width: 1300px) {
    section{
        height:555.5px;
    }
    #games-text{
        float:left;
        margin:0 0 0 30%;
    }
    #multiplayer-text{
        float:left;
        margin:0 0 0 30%;
    }
    .text-box{
        margin:0 0 0 30%;
    }
    #games-image{
        float:left;
    }
    #multiplayer-image{
        float:left;
    }
    .medium-images{
        margin:0 0 0 19.5%;
    }  
}

@media screen and (max-width: 980px) {
    .textBox{
        margin:0 0 0 25.5%;
    }
    .medium-images{
         margin:0 0 0 19.5%;
    }
}

    
@media screen and (max-width: 300px) {
    section{
        height:25px;
        width:100%;
        background-color: #32cca5;
        border:2px solid red;
    }
    #main-page{
        height:400px;
        width:100%;
        background-color: #9932cc;
    }

    #games-text{
        float:left;
        margin:0 0 0 0;
    }
    #multiplayer-text{
        float:left;
        margin:0 0 0 0;
    }
    .text-box{
        margin:0 0 0 0;
        width:50px;
    }
    #games-image{
        float:left;
    }
    #multiplayer-image{
        float:left;
    }
    .medium-images{
        margin:0 0 0 0;
        width:100%;
    }  
}