@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Russo+One&family=Rubik&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    
}

body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    color: #fafafa;
    background-color: black;
    

}

h1 {
    font-family: Russo One, sans-serif;
    

}

h2 {
    text-transform: uppercase;
}
h1, h2 {
    letter-spacing: 3px;
    color: #9932cc;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 2.5%;
}

/* navigation links */
#menu {
    font-size: 160%;
    letter-spacing: 1px;
    float: right;
    
}

#logo, #menu {
    line-height: 100px;
}

#menu li {
    list-style-type: none;
    float: left;
    right: 0;
    margin: 0 auto;
    padding: 0 20px;
}

#menu a {
    text-decoration: none;
    color: #9932cc;
}

#menu a:hover {
    color: #fafafa;
    border-bottom: 4px solid #fafafa;
}

.current {
    border-bottom: 4px solid #9932cc;
}

.current a:hover {
    border-bottom: 4px solid #fafafa;
}
footer a:hover {
    color: #fafafa;
}

#main-image {
    background: url("../images/heroimage2.webp") no-repeat center center;
    height: 300px;
    width: 100%;
    background-size: cover;
}
/*--Main Page Content--*/
/*---------------------*/
section{
    height: 350px;
    width: 100%;
    margin: auto;   
}

.textBox{
    width: 400px;
    float: left;
    padding-top: 20px;
    padding-left: 45px;
    margin:0 0 0 1.5%;
    border-radius: 25px;
    border: 4px solid #9932cc;
    text-align: center;
    padding-right: 2.5%;
    padding-bottom: 20px;
   } 

.medium-images{
    float:left;
    margin:0 0 0 0;
    height:360px;
    width: 60%;
    border-radius: 25px;
}


/*
#enter-text {
    width: 31.5%;
    float: left;
    padding-top: 20px;
    padding-left: 45px;
    border-radius: 25px;
    border: 4px solid #9932cc;
    text-align: center;
    position: relative;
    padding-right: 2.5%;
    position: absolute;
    padding-bottom: 20px;
    margin: 0 auto;
}
    */

    /*----This is the Style for all text boxes--*/
    /*------------------------------------------*/
  
    
    
    


#enter-image {
    background: url("../images/enterimage.jpg") no-repeat center center;
    background-size: cover;
    border: 4px solid #cc7c32;
}


/*
#games-text {
    width: 31.5%;
    float: right;
    padding-top: 20px;
    padding-left: 45px;
    border-radius: 25px;
    border: 4px solid #9932cc;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    
}
*/

#games-image {
    background: url("../images/gamesimage.jpg") no-repeat center center;
    height: 350px;
    width: 60%;
    background-size: cover;
    border-radius: 25px;
    border: 4px solid #32cca5;
}


/*
#family-text {
    width: 31.5%;
    float: left;
    padding-top: 20px;
    padding-left: 45px;
    border-radius: 25px;
    border: 4px solid #9932cc;
    text-align: center;
    position: relative;
    padding-right: 2.5%;
    padding-bottom: 20px;
    clear: both;
}
*/

#family-image {
    background: url("../images/family.jpg") no-repeat center center;
    height: 350px;
    width: 60%;
    background-size: cover;
    border-radius: 25px;
    border: 4px solid #cc3232;
    
}
/*-----Game Page Content------*/
/*---------------------------*/
#retro-games {
    height: 350px;
    width: 100%;
    margin: auto;
    position: relative;
    
    
}

#retro-games-text {
    width: 30%;
    float: left;
    padding-top: 20px;
    padding-left: 45px;
    border-radius: 25px;
    border: 4px solid #9932cc;
    text-align: center;
    position: relative;
    padding-right: 5%;
    position: absolute;
    padding-bottom: 20px;
    
    
    
    
}
#retro-games-image {
    background: url("../images/retro.jpeg") no-repeat center center;
    height: 350px;
    width: 60%;
    float: right;
    background-size: cover;
    border-radius: 25px;
    border: 4px solid #cc7c32;
    
}

#multiplayer {
    height: 350px;
    width: 100%;
    position: relative;
    
    
}

#multiplayer-text {
    width: 30%;
    float: right;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 25px;
    border: 4px solid #9932cc;
    
    text-align: center;
}
#multiplayer-image {
    background: url("../images/multiplayer.jpg") no-repeat center center;
    height: 350px;
    width: 66%;
    float: left;
    background-size: cover;
    border-radius: 25px;
    border: 4px solid #32cca5;
}

#mini-golf {
    height: 350px;
    width: 100%;
    
    
}

#mini-golf-text {
    width: 30%;
    float: left;
    
    padding-left: 45px;
    border-radius: 25px;
    border: 4px solid #9932cc;
    text-align: center;
    position: relative;
    
    padding-bottom: 20px;
}
#mini-golf-image {
    background: url("../images/minigolf.jpeg") no-repeat center center;
    height: 350px;
    width: 60%;
    float: right;
    background-size: cover;
    border-radius: 25px;
    border: 4px solid #cc3232;
}
/*-----Form content-----*/
/*----------------------*/
#sign-up {
    width: 100%;
    clear: both;
    text-align: center;
}


input[type=text]{
    padding: 8px 0;
    width: 30%;
    margin-bottom: 40px;

}

input[type=email]{
    padding: 8px 0;
    width: 30%;
    margin-bottom: 40px;
}

input[type=submit]{
    background-color: #9932cc;
    left: 20;
    padding: 5px 15px;
    font-family: Rubik, sans-serif;
    font-weight: 600;
    font-size: 100%;
    margin-top: 5px;
    margin-bottom: 40px;
}

#updates {
    margin: 0 0 0 80px;
    letter-spacing: 1px;
    
}
/*----This is footer content---*/
/*-----------------------------*/
footer {
    height: 200px;
    background-color: #cc7c32;
   /* bottom: 0;
    clear: both;
    */
}

footer > div {
    text-align: center;
    bottom: 0;
    font-family: Rubik, sans-serif;
    color: #9932cc;
    font-weight: 900;
    
    
}

footer a:hover {
    color: #fafafa;
}

.social-media {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 33px;
    padding-bottom: auto;
    width: 100%;
}

.social-media li {
    display: inline;    
}
.social-media i {
    font-size: 40px;
    padding: 5px;
    margin: 30px 10%;
    
}
/*----Media Queries---*/
/*-------------------*/
@media screen and (max-width: 1300px) {
    .textBox{
        margin:0 0 0 35%;
    }
    .medium-images{
    margin:0 0 0 20.5%;
    }
}

@media screen and (max-width: 980px) {
    .textBox{
        margin:0 0 0 25.5%;
    }
    .medium-images{
    margin:0 0 0 19.5%;
    }
}

    
