@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Russo+One&family=Rubik&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    
}

body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    color: #fafafa;
    background-color: black;

}

h1 {
    font-family: Russo One, sans-serif;
    

}

h2 {
    text-transform: uppercase;
}
h1, h2 {
    letter-spacing: 3px;
    color: #9932cc;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 2.5%;
}

/* navigation links */
#menu {
    font-size: 160%;
    letter-spacing: 1px;
    float: right;
    
}

#logo, #menu {
    line-height: 100px;
}

#menu li {
    list-style-type: none;
    float: left;
    right: 0;
    margin: 0 auto;
}

#menu a {
    text-decoration: none;
    color: #9932cc;
}

#menu a:hover {
    color: #fafafa;
    border-bottom: 4px solid #fafafa;
}

.current {
    border-bottom: 4px solid #9932cc;
}

.current a:hover {
    border-bottom: 4px solid #fafafa;
}
footer a:hover {
    color: #fafafa;
}

#main-image {
    background: url("../images/heroimage2.webp") no-repeat center center;
    height: 400px;
    width: 100%;
    background-size: cover;
}

#enter {
    height: 400px;
    width: 100%;
    margin: auto;
    position: relative;
    
    
}

#enter-text {
    width: 30%;
    float: left;
    padding-top: 20px;
    padding-left: 45px;
    border-radius: 25px;
    border: 4px solid #9932cc;
    text-align: center;
    position: relative;
    padding-right: 5%;
    position: absolute;
    padding-bottom: 20px;
    
    
    
    
}
#enter-image {
    background: url("../images/enterimage.jpg") no-repeat center center;
    height: 400px;
    width: 60%;
    float: right;
    background-size: cover;
    border-radius: 25px;
    border: 4px solid #cc7c32;
    
}

#games {
    height: 400px;
    width: 100%;
    position: relative;
    
    
}

#games-text {
    width: 30%;
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 25px;
    border: 4px solid #9932cc;
    padding-bottom: 20px;
    text-align: center;
}
#games-image {
    background: url("../images/gamesimage.jpg") no-repeat center center;
    height: 400px;
    width: 66%;
    float: left;
    background-size: cover;
    border-radius: 25px;
    border: 4px solid #9932cc;
}

#family {
    height: 400px;
    width: 100%;
    margin: 2.5%;
    
}

#family-text {
    width: 30%;
    float: left;
    padding-top: 20px;
    padding-left: 45px;
    border-radius: 25px;
    border: 4px solid #9932cc;
    text-align: center;
    position: relative;
    
    padding-bottom: 20px;
}
#family-image {
    background: url("../images/family.jpg") no-repeat center center;
    height: 401px;
    width: 60%;
    float: right;
    background-size: cover;
    border-radius: 25px;
    border: 4px solid #9932cc;
}

#retro-games {
    height: 400px;
    width: 100%;
    margin: auto;
    position: relative;
    
    
}

#retro-games-text {
    width: 30%;
    float: left;
    padding-top: 20px;
    padding-left: 45px;
    border-radius: 25px;
    border: 4px solid #9932cc;
    text-align: center;
    position: relative;
    padding-right: 5%;
    position: absolute;
    padding-bottom: 20px;
    
    
    
    
}
#retro-games-image {
    background: url("../images/retro.jpeg") no-repeat center center;
    height: 400px;
    width: 60%;
    float: right;
    background-size: cover;
    border-radius: 25px;
    border: 4px solid #cc7c32;
    
}

#multiplayer {
    height: 400px;
    width: 100%;
    position: relative;
    
    
}

#multiplayer-text {
    width: 30%;
    float: right;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 25px;
    border: 4px solid #9932cc;
    padding-bottom: 20px;
    text-align: center;
}
#multiplayer-image {
    background: url("../images/multiplayer.jpg") no-repeat center center;
    height: 400px;
    width: 66%;
    float: left;
    background-size: cover;
    border-radius: 25px;
    border: 4px solid #9932cc;
}

#mini-golf {
    height: 400px;
    width: 100%;
    margin: 2.5%;
    
}

#mini-golf-text {
    width: 30%;
    float: left;
    padding-top: 20px;
    padding-left: 45px;
    border-radius: 25px;
    border: 4px solid #9932cc;
    text-align: center;
    position: relative;
    
    padding-bottom: 20px;
}
#mini-golf-image {
    background: url("../images/minigolf.jpeg") no-repeat center center;
    height: 400px;
    width: 60%;
    float: right;
    background-size: cover;
    border-radius: 25px;
    border: 4px solid #9932cc;
}

footer {
    height: 200px;
    background-color: #cc7c32;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;    
}
.social-media i {
    font-size: 40px;
    padding: 40px;
    margin: 2%;
    
}